<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
    <center><h5>You have searched for {{query}}</h5></center>
    {% if p %}
 <div class="container">
     <div class="row">
    {% for i in p %}
      <div class="col-sm-4 sm-4 m-5">
        <div class="card" style="width: 18rem;">
          <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="..." style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title text-center">{{ i.name }}</h5>
            <h5 class="card-title text-center">{{ i.price }}</h5>
            <a href="{% url 'shop:detail' i.name %}" style="position:relative;left:34%;" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% else %}
<h6 class="text-center">No Results found</h6>
    {% endif %}
</div>


{% endblock %}